
                    /* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

body {
  background-color: #f1f1f1;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: #270305;

}

img {
  align-items : center;
  justify-content:center;
  /*margin-left: 550px;*/
  margin-left: 3rem;
  /*margin-top:250px*/
  margin-top:2rem;

}

                    /* Main Nav */
.main-nav {
  background-color: #916BEA;
  height: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1000;
  top: 0;
  color: rgb(255, 251, 251);
	font-family: courier;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.main-nav ul li {
  line-height: 60px;
}

.main-nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  padding: 0 20px;
  margin: 0 20px;
  text-transform: uppercase;
}

.main-nav ul li a:hover {
  opacity: 0.7;
}

.toggle-menu-button {
  height: 100%;
  width: 60px;
  background-color: #916BEA;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  cursor: pointer;
}

.toggle-menu-button:hover {
  opacity: 0.8;
}

                    /* Sidebar */ 
.toggle-nav {
  background-color: #362159;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 60px;
  height: calc(100vh - 60px);
  padding: 0 5px;
  transition: all 250ms ease-in-out;
  
}

.toggle-nav li:last-child {
  margin-top: 18rem;
}

.toggle-nav ul {
  list-style: none;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms ease-in-out;
}

.toggle-nav ul li {
  line-height: 60px;
}

.toggle-nav ul li a, #toggle-nav-title {
  text-decoration: none;
  color: #fff;
  display: block;
  height: 100%;
  text-transform: uppercase;
  padding: 0 10px;
  white-space: nowrap;
}

#toggle-nav-title {
  opacity: 0.5;
}

.toggle-nav ul li a:hover {
  background-color: #222;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.btn{
  position: absolute;
  top: 7px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #554176;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn.click{
  left: 260px;
}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d';
}
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #362159;
  transition: left 0.4s ease;
}
.sidebar.show{
  left: 0px;
}
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #362159;
  letter-spacing: 1px;
}
nav ul{
  background: #362159;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: cyan;
  background: #362159;
  border-left-color: cyan;
}
nav ul li a:hover{
  background: #554176;
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #362159;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: cyan!important;
  background: #554176!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #554176;
  z-index: -1;
  text-align: center;
}
.content .header{
  font-size: 45px;
  font-weight: 600;
}
.content p{
  font-size: 30px;
  font-weight: 500;
}
